.developers {
    color: #c9d1d9;
    padding: 15px 20px;
    border-bottom: 1px solid #30363d;
    display: flex;
    gap: 20px;
}

.developers-left-section {
    flex: 1;
    display: flex;
}

.developers-right-section {
    flex: 2;
    display: flex;
    justify-content: space-between;
}

.developer-seq {
    margin: 0 20px 0 10px;
    font-size: 14px;
}

.developer-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.developer-name-info {
    margin-left: 20px;
}

.developer-name {
    color: #58a6ff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
}

.deveoper-username {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400;
    color: #8b949e;
}

.fire-icon {
    fill: #cc4b32;
    vertical-align: bottom;
    margin-right: 5px;
}

.heart-icon {
    fill: #e23b56;
    vertical-align: bottom;
    margin-right: 8px;
}

.dev-popular-repo {
    display: flex;
    align-items: center;
    margin: 0;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 500;
    color: #8b949e;
    margin-bottom: 10px;
}

.popular-repo-para {
    margin: 0;
}

.dev-repo-name {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.dev-repo-name-h3 {
    margin: 0;
    color: #58a6ff;
    font-size: 18px;
    font-weight: 600;
    cursor: pointer;
}

.dev-repo-description {
    margin: 0;
    color: #8b949e;
    font-size: 14px;
}

.dev-sponsor-button {
    margin-right: 12px;
    border-radius: 5px;
}

.dev-follow-button {
    border-radius: 5px;
}

.dev-repo-actions {
    min-width: 190px;
}

