.list {
    width: 65vw;
    margin: auto;
    border: 1px solid #30363d;
    margin-top: 30px;
    border-radius: 5px;
    color: #0e1218;
    min-width: 760px;
}

.list-header {
    border-bottom: 1px solid #30363d;
    padding: 15px;
    background-color: #161c23;
}

.buttons {
    background: #21262d;
    color: #c9d1d9;
    border: 1px solid #30363d;
    padding: 9px 14px;
    font-weight: 600;
    font-size: 13px;
}

.button-repo {
    border-radius: 5px 0px 0px 5px;
}

.button-dev {
    border-radius: 0px 5px 5px 0px;
}

.active-button {
    background-color: #216feb;
    border: 1px solid #216feb;
    color: #fff;
}
