
.header {
    padding: 40px 20px;
    border-bottom: 1px solid #30363d;
}

.trending {
    color: #c9d1d9;
    font-weight: 600;
    font-size: 32px;
    margin: 5px;
}

.header-para {
    color: #8b949e;
    font-size: 16px;
    font-weight: 500;
}