.repos {
    color: #c9d1d9;
    padding: 15px 20px;
    border-bottom: 1px solid #30363d;
}

.repo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 0;
}

.repo-name {
    color: #58a6ff;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    margin: 0;
}

.repo-star-button {
    padding: 8px 15px;
    background: #161c23;
    color: #c9d1d9;
    border: 1px solid #30363d;
    border-radius: 5px;
}

.description {
    margin: 0;
    width: 80%;
}

.repo-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.repo-info-left {
    display: flex;
    align-items: center;
    gap: 20px;
    font-size: 13px;
}

.repo-info-right {
    display: flex;
    align-items: center;
    gap: 5px;
}

.repo-name-link {
    color: snow;
    text-decoration: none;
}

.repo-stars-today {
    font-size: 13px;
}

.dev-avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}